:root {
    --color-black: #1A1A1A;
    --color-white: #FFFFFF;
    --color-gray: #607D8B;
    --text-color: #FFFFFF;
    --text-color-opacity: #b3cedb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin-inline: auto;
}

/* navbar */
.navbar {
    width: 100%;
    padding: 25px 0 25px 0;
    position: absolute;
    z-index: 9999;
}

.navbar .navbar-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    /* ? */
}

.navbar .navbar-box .logo {
    border-radius: 20%;
}

.navbar .navbar-box .logo img {
    width: 30px;
    height: 30px;
    border-radius: 150px;
}

.navbar .navbar-box .menu {
    display: flex;
    gap: 40px;
    padding-top: 20px;
    /* ? */
}

.navbar .navbar-box .menu li {
    list-style-type: none;
}

.navbar .navbar-box .menu li a {
    color: var(--color-gray);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.navbar .navbar-box .social {
    display: flex;
    gap: 15px;
}

.navbar .navbar-box .social a {
    color: var(--color-gray);
    text-decoration: none;
}

.navbar .navbar-box .menu li a:hover,
.navbar .navbar-box .social a:hover {
    color: var(--text-color);
}

/* hamburger */
.hamburger {
    padding: 0;
    margin-left: 20px;
    height: 24px;
    display: none;
}

.hamburger .hamburger-box {
    width: 30px;
}

.hamburger-inner,
.hamburger-inner:before,
.hamburger-inner:after {
    width: 30px;
    height: 4px;
    background-color: var(--color-gray);
    border-radius: 4px;
    /* position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; */
}

/* .hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: var(--color-gray);
} */

/* header */
.header {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
}

.header .header-box {
    text-align: center;
}

.header .header-box img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    --animate-delay: 2s;
}

.header .header-box h2 {
    color: var(--text-black);
    font-weight: 700;
    margin-bottom: 20px;
    --animate-delay: 2.5s;
}

.header .header-box p {
    width: 60%;
    margin-inline: auto;
    color: var(--color-black);
    line-height: 2;
    font-size: 17px;
    margin-bottom: 50px;
    --animate-delay: 3s;
}

.header .header-box a {
    padding: 10px 20px 10px 20px;
    background-color: var(--color-gray);
    text-decoration: none;
    color: var(--color-black);
    border-radius: 150px;
    font-weight: 500;
    border: none;
    scroll-behavior: smooth;
    --animate-delay: 3.5s;
}

.header .header-box a:hover {
    color: var(--color-white);
    background-image: linear-gradient(to right, #22577E, #5584AC, #95D1CC);
    transition: all 0.5s ease;
}

/* about */
.about {
    width: 100%;
    min-height: 100vh;
    padding: 60px 0 60px 0;
}

.about .title {
    margin-bottom: 10px;
    text-align: center;
}

.about .title h1 {
    font-size: 40px;
    font-weight: 700;
}

.about .title p {
    color: rgba(0, 0, 0, 0.5);
}

.about .about-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.about .about-box .box:nth-child(1) img {
    width: 70%;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.about .about-box .box:nth-child(2) {
    padding-left: 80px;
}

.about .about-box .box:nth-child(2) h1 {
    margin-bottom: 5px;
}

.about .about-box .ability {
    margin-bottom: 20px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.about .about-box .box .desc {
    font-size: 14px;
    line-height: 2;
    margin-bottom: 30px;
}

.about .about-box .box a {
    padding: 15px 25px 15px 25px;
    text-decoration: none;
    background-color: var(--color-gray);
    color: var(--color-black);
    border-radius: 100px;
}

.about .about-box .box a:hover {
    color: var(--color-white);
    background-image: linear-gradient(to right, #22577E, #5584AC, #95D1CC);
    transition: all 0.5s ease;
}

.about .about-box .box .desc span {
    font-weight: 600;
}

/* skills */
.skills {
    padding: 100px 0 150px 0;
    width: 100%;
    min-height: 100vh;
}

.skills .title {
    text-align: center;
    margin-bottom: 100px;
}

.skills .title h1 {
    font-size: 40px;
    font-weight: 700;
    color: var(--text-black);
}

.skills .title p {
    color: var(--text-gray);
}

.skills .skills-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.skills .skills-box .box {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
}

.skills .skills-box .box img {
    cursor: pointer;
    width: 70px;
    height: 70px;
}

/* projects */
.projects {
    padding: 50px 0 50px 0;
}

.projects .title {
    text-align: center;
    margin-bottom: 50px;
}

.projects .title h1 {
    font-size: 40px;
    font-weight: 700;
}

.projects .title p {
    color: rgba(0, 0, 0, 0.5);
}

.projects .projects-box {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 50px;
    justify-content: center;
}

.projects .projects-box .box {
    width: 320px;
}

.projects .projects-box .box img {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.projects .projects-box .box h3 {
    margin-bottom: 5px;
    text-align: center;
    font-size: 24px;
    color: black;
}

.projects .projects-box .box p {
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
}

.projects .projects-box .box .tools {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
    justify-content: center;
}

.projects .projects-box .box .tools button {
    width: 100px;
    height: 30px;
    background-color: var(--color-gray);
    border-radius: 100px;
    border: none;
}

.projects .projects-box .box .tools button:hover {
    background-image: linear-gradient(to right, #22577E, #5584AC, #95D1CC);
    color: white;
    border: none;
    transform: translateY(-3px);
    transition: all 0.3s ease;
    box-shadow: 6px 8px 8px #888;
}

.projects .projects-box .box .detail-projects {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.projects .projects-box .box .detail-projects a {
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    color: var(--text-color);
}

.projects .projects-box .box .detail-projects a:nth-child(1) {
    background-color: #22577E;
    border-radius: 100px;
    color: var(--color-black);
}

.projects .projects-box .box .detail-projects a:nth-child(2) {
    background-color: #2ba36b;
    border-radius: 100px;
    color: var(--color-black);
}

.projects .projects-box .box .detail-projects a:hover {
    opacity: 80%;
    box-shadow: 8px 8px 8px #888;
    transform: translateY(-3px);
    transition: all 0.3s ease;
    color: white;
}

/* resume */
.resume {
    padding: 130px 0px 130px 0px;
}

.resume .resume-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 100px;
}

.resume .resume-box .box img {
    width: 80%;
}

.resume .resume-box .box h1 {
    color: var(--text-black);
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
}

.resume .resume-box .box p {
    color: var(--text-gray);
    margin-bottom: 40px;
}

.resume .resume-box .box a {
    text-decoration: none;
    color: var(--color-black);
    padding: 10px 20px 10px 20px;
    background-color: var(--color-gray);
    border-radius: 100px;
}

.resume .resume-box .box a:hover {
    color: white;
    background-image: linear-gradient(to right, #22577E, #5584AC, #95D1CC);
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    font-size: 17px;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #f1f2f3;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.loader img {
    width: 50px;
    height: 50px;
}

.loader.loader-active {
    display: none;
}





@media screen and (max-width: 1200px) {
    .header .header-box img {
        width: 130px;
        height: 130px;
    }

    .header .header-box h2 {
        font-size: 20px;
    }

    .header .header-box h1 {
        font-size: 40px;
    }

    .header .header-box p {
        font-size: 12px;
    }

    .about .about-box .box:nth-child(1) img {
        width: 50%;
        height: 50%;
        margin-inline: auto;
        display: block;
    }
}

@media screen and (max-width: 992px) {
    .header .header-box p {
        width: 75%;
    }

    .about .about-box {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        /* gap: 100px; */
    }

    .about .about-box .box:nth-child(1) img {
        width: 500px;
        margin-inline: auto;
        display: block;
    }

    .about .about-box .box:nth-child(2) {
        text-align: center;
        padding: 0;
    }

    .resume .resume-box .box p {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {

    .navbar .navbar-box .menu {
        position: absolute;
        flex-direction: column;
        top: 100px;
        gap: 0;
        background-color: var(--color-white);
        width: 75%;
        padding: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition: all .2s ease;
        opacity: 0;
    }

    .navbar .navbar-box .menu.menu-active {
        transform: scaleY(1);
        opacity: 1;
    }

    .navbar .navbar-box .menu li {
        text-align: center;
        padding: 15px;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .navbar .navbar-box .menu li:hover {
        background-color: var(--color-gray);
    }

    .navbar .navbar-box .menu li a {
        color: var(--color-black);
        font-weight: bold;
    }

    .navbar .navbar-box .social {
        margin-left: auto;
    }

    .hamburger {
        display: block;
    }

    .header .header-box h2 {
        font-size: 30px;
    }

    .header .header-box p {
        width: 85%;
    }

    .about .about-box .box:nth-child(1) img {
        width: 400px;
    }

    .skills .skills-box .box .front-skills div {
        font-size: 12px;
    }

    .resume .resume-box {
        grid-template-columns: 1fr;
    }

    .resume .resume-box .box img {
        width: 300px;
        margin-inline: auto;
        display: block;
    }

    .resume .resume-box .box:nth-child(2) {
        text-align: center;
    }
}

@media screen and (max-width: 475px) {
    .header .header-box h2 {
        font-size: 16px;
    }

    .header .header-box p {
        width: 100%;
        font-size: 10px;
    }

    .about .title {
        margin-bottom: 50px;
    }

    .about .title h1 {
        font-size: 35px;
    }

    .about .about-box {
        gap: 30px;
    }

    .about .about-box .box:nth-child(1) img {
        width: 300px;
    }

    .about .about-box .box h1 {
        font-size: 28px;
    }

    .about .about-box .box .skills,
    .about .about-box .box .desc {
        font-size: 12px;
    }

    .skills .title h1 {
        font-size: 3 5px;
    }

    .projects .projects-box .box img {
        height: 220px;
    }

    .resume .resume-box .box img {
        width: 250px;
    }

    .resume .resume-box .box p {
        font-size: 12px;
    }

}

@media screen and (max-width: 375px) {
    .header .header-box h2 {
        font-size: 20px;
    }

    .about .title {
        margin-bottom: 20px;
    }

    .about .title h1 {
        font-size: 30px;
    }

    .skills .title h1 {
        font-size: 30px;
    }
}